langchain
langchain-qdrant
langchain-openai
qdrant-client
uvicorn
pydantic
fastapi
docx
docx2txt
unstructured
langchain-community
langchain-core
langchain-openai
python-dotenv
langchain_qdrant
uvicorn
python-multipart
pymupdf
python-docx 
